body
  {
    background-color: #a1cae2;
  }
  hr
  {
    border-style: dotted none none;
    border-width: 5px;
    border-color: gray;
    width: 10%;
  }

h1
 {
   color: magenta;
 }
 h3
  {
    color: green;
  }
